:root {
  --clr-blue-primary: #172339;
  --clr-grey: #49566D;
  --clr-off-white-1: #FAF8F6;
  --clr-off-white-2: #F3EDE7;
  --mobile-side-space: 1rem;
  --tab-side-space: 2.5rem;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Epilogue", sans-serif;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.089px;
}

img {
  width: 100%;
}

header {
  margin: 1.5rem var(--mobile-side-space);
  max-width: 1110px;
}
@media (min-width: 768px) {
  header {
    margin: 2.5rem var(--tab-side-space);
  }
}
@media (min-width: 1110px) {
  header {
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

.btn {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.14px;
  padding: 12px 16px;
  text-decoration: none;
  border-radius: 6px;
}
@media (min-width: 768px) {
  .btn {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.16px;
    padding: 16px 32px;
  }
}
.btn-white {
  color: var(--clr-blue-primary);
  border: 1px solid var(--clr-blue-primary);
}
.btn-primary {
  color: var(--clr-off-white-1);
  border: 1px solid var(--clr-blue-primary);
  background: var(--clr-blue-primary);
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.18px;
}

.logo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-section .logo {
  text-decoration: none;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.444px;
  color: var(--clr-blue-primary);
}

.hero-area {
  position: relative;
  margin: 1.5rem 1rem;
}
.hero-area .text-section {
  margin: 2.5rem 0;
}
.hero-area .text-section .title {
  color: var(--clr-blue-primary);
  font-size: 38px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: -0.528px;
  display: flex;
  flex-wrap: wrap;
  align-items: end;
}
.hero-area .text-section .title .highlight {
  margin-left: 0.25rem;
  font-size: 40px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}
.hero-area .text-section .title .highlight img {
  width: 150px;
}
.hero-area .text-section .description {
  margin: 2rem 0;
  color: var(--clr-grey);
}
.hero-area .hero-image .tab {
  display: none;
}
.hero-area .stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  margin-top: 3rem;
}
.hero-area .stat-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  line-height: 26px;
  letter-spacing: 2.5px;
}
.hero-area .stat-item .title {
  color: var(--clr-blue-primary);
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  margin: 0;
}
.hero-area .stat-item p {
  margin: 0;
  color: var(--clr-grey);
}
@media (min-width: 768px) {
  .hero-area .stat {
    flex-direction: row;
    flex-basis: 100%;
    margin: 5rem 0;
  }
}
@media (min-width: 768px) {
  .hero-area {
    margin: 2.5rem var(--tab-side-space);
    display: flex;
    flex-wrap: wrap;
  }
  .hero-area .text-section .title {
    font-size: 56px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: -0.778px;
    max-width: 570px;
    margin: 2.5rem 0;
  }
  .hero-area .text-section .title .highlight {
    margin-left: 0.75rem;
    font-size: 62px;
  }
  .hero-area .text-section .title .highlight img {
    width: 250px;
    margin-bottom: 1rem;
  }
  .hero-area .text-section .description {
    max-width: 350px;
    margin: 2.5rem 0;
  }
  .hero-area .hero-image {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 264px;
    top: 48px;
  }
  .hero-area .hero-image .mobile {
    display: none;
  }
  .hero-area .hero-image .tab {
    display: inline;
  }
}
@media (min-width: 1110px) {
  .hero-area {
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 1110px;
    margin: 0 auto;
  }
  .hero-area .text-section {
    flex-basis: 60%;
  }
  .hero-area .text-section .title {
    font-size: 72px;
    line-height: 78px;
    letter-spacing: -1px;
    max-width: 700px;
  }
  .hero-area .text-section .title .highlight {
    margin-left: 1rem;
    font-size: 80px;
  }
  .hero-area .text-section .title .highlight img {
    width: 300px;
    margin-bottom: 1.5rem;
  }
  .hero-area .text-section .description {
    margin-bottom: 3.5rem;
  }
  .hero-area .stat {
    flex-direction: column;
    flex-basis: 25%;
  }
  .hero-area .stat-item {
    justify-content: start;
    align-items: flex-start;
  }
  .hero-area .hero-image {
    right: 300px;
    width: 300px;
  }
}

.footer-section {
  background-color: var(--clr-off-white-2);
  min-height: 50rem;
  margin-top: 15rem;
}
.footer-section .testimonial-section {
  min-height: 20rem;
  background: var(--clr-blue-primary);
  border-radius: 6px;
  padding: 0 var(--mobile-side-space);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.footer-section .testimonial-section .person {
  margin-top: -190px;
}
.footer-section .testimonial-section .person .large {
  display: none;
}
.footer-section .testimonial-section .pattern {
  width: 50px;
}
.footer-section .testimonial-section .testimonial {
  text-align: center;
}
.footer-section .testimonial-section .testimonial .title {
  color: var(--clr-off-white-1);
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.417px;
  margin-top: 1rem;
}
.footer-section .testimonial-section .testimonial .title strong {
  font-size: 40px;
  font-weight: 700;
}
.footer-section .testimonial-section .testimonial .description {
  color: var(--clr-off-white-2);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.09px;
}
.footer-section .testimonial-section .testimonial .name h4 {
  color: var(--clr-off-white-1);
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.18px;
  margin-top: 2rem;
  margin-bottom: 0;
}
.footer-section .testimonial-section .testimonial .name p {
  color: var(--clr-off-white-2);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2.5px;
  margin-top: 0;
}
.footer-section footer {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.footer-section footer .logo {
  text-decoration: none;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.444px;
  color: var(--clr-blue-primary);
}
.footer-section footer .copyright {
  color: var(--clr-grey);
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.083px;
}
.footer-section footer .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.footer-section footer .social-media img {
  width: 20px;
}
@media (min-width: 768px) {
  .footer-section {
    min-height: 40rem;
    margin-top: 25rem;
    padding: var(--tab-side-space);
  }
  .footer-section .testimonial-section {
    margin-top: -254px;
  }
}
@media (min-width: 1110px) {
  .footer-section {
    min-height: 30rem;
    margin-top: 25rem;
  }
  .footer-section .testimonial-section {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 6.5rem;
    margin-top: -312px;
    flex-direction: row;
    max-height: 35rem;
  }
  .footer-section .testimonial-section .person {
    margin-top: 0;
    margin-bottom: 42px;
  }
  .footer-section .testimonial-section .person .small {
    display: none;
  }
  .footer-section .testimonial-section .person .large {
    display: inline;
    width: 375px;
  }
  .footer-section .testimonial-section .pattern {
    margin-bottom: 200px;
  }
  .footer-section .testimonial-section .testimonial {
    text-align: left;
  }
  .footer-section .testimonial-section .testimonial .title {
    color: var(--clr-off-white-1);
    font-size: 42px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }
  .footer-section .testimonial-section .testimonial .title strong {
    font-size: 48px;
    font-weight: 700;
  }
  .footer-section .testimonial-section .testimonial .description {
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.1px;
    max-width: 350px;
  }
}

/*# sourceMappingURL=style.css.map */
