:root {
    --clr-blue-primary: #172339;
    --clr-grey: #49566D;
    --clr-off-white-1: #FAF8F6;
    --clr-off-white-2: #F3EDE7;
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}