*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
}

$mobile-screen: 275px;
$tablet-min-screen: 768px;
$tablet-max-screen: 990px;

$desktop-screen : 1250px;

$max-window-width : 1250px;
$mobile-side-padding : 1rem;
$tab-side-padding : 2.5rem;

$clr--primary : #13183F;
$clr-secondary : #83869A;
$clr--white : #ffffff;
$clr--bright : #F02AA6;

body {
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: linear-gradient(180deg, #FFF 0%, #F0F1FF 100%);
}

header {
    padding: 1rem $mobile-side-padding;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    font-size: 1rem;
    font-weight: 700;
    line-height: 28px;
    background: $clr--primary;
    border-color: $clr--primary;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $clr--white;
    padding: 0.5rem 1.5rem;
    cursor: pointer;

    &-highlight {
        background: linear-gradient(180deg, #FF6F48 0%, $clr--bright 100%);
        padding: 0.75rem 2.25rem;
        align-self: baseline;
        border-color: transparent;
    }

    &-bright {
        background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
        padding: 0.75rem 2.25rem;
        align-self: baseline;
        border-color: transparent;
        border-top-color: #4851FF;
        border-bottom-color: #F02AA6;
    }
}

.hero {
    padding: 1rem $mobile-side-padding;
    display: flex;
    flex-direction: column;

    h2 {
        color: $clr--primary;
        font-size: 40px;
        font-weight: 800;
        margin: 1rem 0;
    }

    p {
        color: $clr-secondary;
        font-weight: 500;
        line-height: 26px;
    }

    h2+p {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }

    .mobile-hero {
        margin-top: 3rem;
    }

    @media (min-width: $tablet-min-screen) {
        .mobile-hero {
            display: none;
        }
    }
}

main {
    padding: 1rem $mobile-side-padding;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2.5rem 0.5rem;

    .work-item-banner {
        padding: 1.5rem 1.75rem;
        font-size: 24px;
        font-weight: 800;
        line-height: 32px;
        color: $clr--white;
        border-radius: 6px;
        background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    }

    .work-item {
        padding: 32px 28px;
        border-radius: 6px;
        background: $clr--white;
        position: relative;

        .icon {
            width: 56px;
            aspect-ratio: 1;
            position: absolute;
            top: -28px;
            left: 32px;
        }

        h3 {
            color: $clr--primary;
            font-size: 20px;
            font-weight: 800;
            margin-top: 1.25rem;
        }

        p {
            color: $clr-secondary;
            font-weight: 500;
            line-height: 26px;
        }

        h3+p {
            margin: 1.5rem 0;
        }

        .start {
            color: $clr--bright;
            font-size: 18px;
            font-weight: 700;
            line-height: 28px;
            text-decoration: none;
        }
    }
}

footer {
    padding: 2rem $mobile-side-padding;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $clr--primary;
}