*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --primary-clr: #191826;
    --orange-clr: #FA7453;
    --white-clr: rgba(255, 255, 255, 1);
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--primary-clr);
    font-size: 1rem;
    font-weight: 400;
}

img {
    width: 100%;
}

.btn {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    flex-wrap: wrap;
    border-radius: 12px;

    &.btn-dark {
        background-color: var(--primary-clr);
        color: var(--white-clr);
    }

    &.btn-white {
        background-color: var(--white-clr);
        color: var(--primary-clr);
    }
}

header {
    background-image: url(../images/bg-main-mobile.png);
    min-height: 30rem;
    background-repeat: no-repeat;
    background-position: top 90% right 100%;

    .logo {
        padding: 2.5rem 1.5rem;
    }

    .title {
        max-width: 90%;
        padding: 1rem 1.5rem;
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 48px;
        letter-spacing: -0.455px;
    }

    .description {
        padding: 1rem 1.5rem;
        line-height: 26px;
    }
}

main {
    background-image: url(../images/bg-pattern-2.svg);
    background-color: var(--primary-clr);
    border: 1px solid var(--primary-clr);
    background-repeat: no-repeat;
    background-position: top -1% center;
    background-size: 68% auto;
    border-radius: 8px;
    min-height: 30rem;
    position: relative;
    margin-top: 12rem;

    .phone {
        position: absolute;
        left: 50%;
        top: -20%;
        transform: translateX(-50%);
    }

    .plan {
        position: absolute;
        left: 0;
        bottom: -80%;
        width: 100%;
        background-color: var(--orange-clr);
        border-radius: 8px;
        color: var(--white-clr);
        padding: 1.5rem 1rem;

        .title {
            font-weight: 700;
            font-size: 2rem;
            line-height: 40px;
        }

        .description {
            font-size: 18px;
            line-height: 28px;
            max-width: 90%;
        }

        .title+.description {
            margin: 1.5rem 0;
        }

        .price {
            display: flex;
            align-items: center;
            font-size: 20px;
            line-height: 32px;
            gap: 1rem;

            .amount {
                font-size: 64px;
                font-weight: 700;
                line-height: 52px;
            }
        }


        .buttons {}
    }

}