*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --primary-clr: #191826;
    --white-clr: rgba(255, 255, 255, 1);
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--primary-clr);
    font-size: 1rem;
    font-weight: 400;
}

img {
    width: 100%;
}

header {
    background-image: url(../images/bg-main-mobile.png);
    min-height: 30rem;
    background-repeat: no-repeat;
    background-position: top 90% right 100%;

    .logo {
        padding: 2.5rem 1.5rem;
    }

    .title {
        max-width: 90%;
        padding: 1rem 1.5rem;
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 48px;
        letter-spacing: -0.455px;
    }

    .subtitle {
        padding: 1rem 1.5rem;
        line-height: 26px;
    }
}

main {
    background-image: url(../images/bg-pattern-2.svg);
    background-color: var(--primary-clr);
    border: 1px solid var(--primary-clr);
    background-repeat: no-repeat;
    background-position: top -1% center;
    background-size: 68% auto;
    border-radius: 8px;
    min-height: 28rem;
    position: relative;
    margin-top: 12rem;

    .phone {
        position: absolute;
        left: 50%;
        top: -20%;
        transform: translateX(-50%);
    }
}