*,
::after,
::before {
    box-sizing: border-box;
}

@font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

:root {
    --clr-header: #253347;
    --clr-para: #5E6E85;
    --mobile-space: 1.5rem;
    --tab-space: 2.5rem;
    --desktop-space: 116px;
    --max-width: 1114px;
}

$tablet-width : 768px;
$desktop-width : 1114px;

body {
    font-family: 'Inter';
    margin: 0;
    color: var(--clr-para);
}

p,
div {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

img {
    width: 100%;
}

.top-background {
    border-radius: 0px 0px 35px 35px;
    background: linear-gradient(315deg, #D6E6FE 0%, rgba(214, 252, 254, 0.00) 100%);
    max-width: 978px;
    min-height: 664px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 var(--mobile-space);
    background: transparent;
    margin-top: -664px;

    img {
        margin: 32px 0;
        width: 40px;
    }

    h2 {
        color: var(--clr-header);
        margin: 0;
        font-size: 48px;
        font-weight: 600;
        line-height: 110%;
        letter-spacing: -2.4px;
        text-align: center;
    }

    @media (min-width: $tablet-width) {
        min-height: 640px;
        padding: 0 var(--tab-space);

        img {
            margin: 75px 0;
            width: 64px;
        }
    }

    @media (min-width: $desktop-width) {
        // min-height: 640px;
        max-width: var(--max-width);
        margin: 0 auto;
        padding: 0;
        margin-top: -664px;

        align-items: flex-start;

        h2,
        p {
            text-align: left;
            width: 100%;

        }

        h2 {
            font-size: 64px;
            font-weight: 600;
            line-height: 110%;
            letter-spacing: -3.2px;
            max-width: 564px;

        }

        p {
            max-width: 464px;
        }
    }
}

.means {


    &-info {
        padding: 0 var(--mobile-space);

        h2 {
            margin: 32px 0;
            color: var(--clr-header);
            font-size: 32px;
            font-weight: 600;
            line-height: 110%;
            letter-spacing: -1.6px;
        }
    }

    @media (min-width: $tablet-width) {
        margin-top: 10rem;
        display: flex;
        justify-content: space-between;
        padding-right: var(--tab-space);
        overflow: hidden;

        img {
            width: 360px;
            margin-left: -60px;
        }

        &-info {
            max-width: 372px;

            h2 {
                margin-top: 0;
            }
        }
    }

    @media (min-width: $desktop-width) {
        max-width: var(--max-width);
        margin: 0 auto;
        margin-top: 5rem;
        padding-right: 0;
        align-items: center;

        img {
            width: 564px;
            margin-left: 0;
        }

        &-info {
            max-width: 465px;
            padding: 0;

            h2 {
                margin-top: 0;
                font-size: 48px;
                font-weight: 600;
                line-height: 110%;
                letter-spacing: -2.4px;
            }
        }
    }
}

.bmi-todos {

    margin: 2rem 0;
    position: relative;
    overflow: hidden;

    .light-bg {
        position: absolute;
        background: linear-gradient(315deg, #D6E6FE 0%, rgba(214, 252, 254, 0.00) 100%);
        opacity: 0.25;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }


    .wrapper {
        padding: 3.5rem var(--mobile-space);
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        background: transparent;
        z-index: 1;


        img {
            width: 64px;
        }

        .todo {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .info {
                .title {
                    font-size: 24px;
                    font-weight: 600;
                    letter-spacing: -1.2px;
                    margin-top: 0;
                    margin-bottom: 24px;
                }
            }
        }
    }


    @media (min-width: $tablet-width) {
        .wrapper {
            padding: 3.5rem var(--tab-space);

            .todo {
                flex-direction: row;
                gap: 2.5rem;
            }
        }
    }

    @media (min-width: $desktop-width) {
        margin-left: var(--mobile-space);
        margin-right: var(--mobile-space);
        border-radius: 12px;


        .wrapper {
            max-width: var(--max-width);
            margin: 0 auto;
            padding-left: 0;
            padding-right: 0;
            flex-direction: row;
            justify-content: space-between;

            .todo {
                flex-direction: column;
                gap: 2.5rem;
            }
        }


    }
}

.bmi-limitation {
    position: relative;
    padding: 0 var(--mobile-space);

    padding-top: 3rem;
    padding-bottom: 3rem;

    &-header-section {
        margin-bottom: 4rem;

        h2 {
            margin: 32px 0;
            color: var(--clr-header);
            font-size: 32px;
            font-weight: 600;
            line-height: 110%;
            letter-spacing: -1.6px;
        }
    }

    &-points {
        display: flex;
        flex-direction: column;

        &-section {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }


    }

    &-item {
        border-radius: 16px;
        box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
        padding: 1rem;

        img {
            width: 32px;
            margin-right: 1rem;
        }

        .title {
            display: flex;
            align-items: center;
        }
    }

    @media (min-width: $tablet-width) {
        padding: 0 var(--tab-space);

        &-header-section {
            text-align: center;
        }


        &-points-section {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 1rem;
        }

        &-item {
            flex-basis: 45%;
            align-self: normal;
        }
    }
}