*,
::after,
::before {
  box-sizing: border-box;
}

@font-face {
  font-family: Inter;
  src: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
:root {
  --clr-header: #253347;
  --clr-para: #5E6E85;
  --clr-white: #ffffff;
  --mobile-space: 1.5rem;
  --tab-space: 2.5rem;
  --desktop-space: 116px;
  --max-width: 1114px;
}

body {
  font-family: "Inter";
  margin: 0;
  color: var(--clr-para);
}

p,
div {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

img {
  width: 100%;
}

.input {
  border: 1px solid #D8E2E7;
  padding: 20px 24px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input .unit {
  color: #345FF6;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -1.2px;
}

input[type=text] {
  height: 30px;
  border: 1px solid var(--clr-white);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -1.2px;
  width: 75%;
}
input[type=text]:focus {
  outline: none !important;
}

.top-background {
  border-radius: 0px 0px 35px 35px;
  background: linear-gradient(315deg, #D6E6FE 0%, rgba(214, 252, 254, 0) 100%);
  max-width: 978px;
  min-height: 664px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--mobile-space);
  background: transparent;
  margin-top: -664px;
  position: relative;
}
.header img {
  margin: 32px 0;
  width: 40px;
}
.header h2 {
  color: var(--clr-header);
  margin: 0;
  font-size: 48px;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -2.4px;
  text-align: center;
}
.header .calculator {
  position: absolute;
  bottom: -640px;
  left: 50%;
  min-height: 350px;
  width: 86%;
  padding: 24px;
  background: white;
  border-radius: 12px;
  transform: translateX(-50%);
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
}
.header .calculator h2 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -1.2px;
  text-align: left;
}
.header .calculator .result-section {
  background: linear-gradient(90deg, #345FF6 0%, #587DFF 100%);
  border-radius: 16px;
  padding: 32px;
  color: var(--clr-white);
  margin: 1rem 0;
}
.header .calculator .result-section h5 {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  margin: 0;
}
.header .calculator .result-section .value {
  font-family: Inter;
  font-size: 48px;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -2.4px;
  margin: 0;
  margin-top: 8px;
}
.header .calculator .result-section .value-detail {
  font-size: 14px;
  font-style: normal;
  line-height: 150%;
}
.header .calculator .result-section .value-detail strong {
  font-weight: 700;
}
.header .calculator .input-section {
  margin: 1rem 0;
}
.header .calculator .input-section .label {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 0.5rem;
}
.header .calculator .metric-section {
  margin: 0.5rem 0;
  padding: 0.75rem 0;
}
.header .calculator .imperial-section {
  margin: 0.5rem 0;
  padding: 0.75rem 0;
}
.header .calculator .imperial-section .input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .calculator .imperial-section .input-group .input {
  flex-basis: 48%;
}
@media (min-width: 768px) {
  .header {
    min-height: 640px;
    padding: 0 var(--tab-space);
  }
  .header img {
    margin: 75px 0;
    width: 64px;
  }
  .header .calculator {
    bottom: -375px;
    width: 92%;
  }
  .header .calculator .result-section {
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .calculator .result-section .value-detail {
    width: 270px;
  }
}
@media (min-width: 1114px) {
  .header {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0;
    margin-top: -664px;
    align-items: flex-start;
  }
  .header h2,
  .header p {
    text-align: left;
    width: 100%;
  }
  .header h2 {
    font-size: 64px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -3.2px;
    max-width: 564px;
  }
  .header p {
    max-width: 464px;
  }
}

.means {
  margin-top: 40rem;
}
.means-info {
  padding: 0 var(--mobile-space);
}
.means-info h2 {
  margin: 32px 0;
  color: var(--clr-header);
  font-size: 32px;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -1.6px;
}
@media (min-width: 768px) {
  .means {
    margin-top: 32rem;
    display: flex;
    justify-content: space-between;
    padding-right: var(--tab-space);
    overflow: hidden;
  }
  .means img {
    width: 360px;
    margin-left: -60px;
  }
  .means-info {
    max-width: 372px;
  }
  .means-info h2 {
    margin-top: 0;
  }
}
@media (min-width: 1114px) {
  .means {
    max-width: var(--max-width);
    margin: 0 auto;
    margin-top: 5rem;
    padding-right: 0;
    align-items: center;
  }
  .means img {
    width: 564px;
    margin-left: 0;
  }
  .means-info {
    max-width: 465px;
    padding: 0;
  }
  .means-info h2 {
    margin-top: 0;
    font-size: 48px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -2.4px;
  }
}

.bmi-todos {
  margin: 2rem 0;
  position: relative;
  overflow: hidden;
}
.bmi-todos .light-bg {
  position: absolute;
  background: linear-gradient(315deg, #D6E6FE 0%, rgba(214, 252, 254, 0) 100%);
  opacity: 0.25;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bmi-todos .wrapper {
  padding: 3.5rem var(--mobile-space);
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  background: transparent;
  z-index: 1;
}
.bmi-todos .wrapper img {
  width: 64px;
}
.bmi-todos .wrapper .todo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.bmi-todos .wrapper .todo .info .title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -1.2px;
  margin-top: 0;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .bmi-todos .wrapper {
    padding: 3.5rem var(--tab-space);
  }
  .bmi-todos .wrapper .todo {
    flex-direction: row;
    gap: 2.5rem;
  }
}
@media (min-width: 1114px) {
  .bmi-todos {
    margin-left: var(--mobile-space);
    margin-right: var(--mobile-space);
    border-radius: 12px;
  }
  .bmi-todos .wrapper {
    max-width: var(--max-width);
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    flex-direction: row;
    justify-content: space-between;
  }
  .bmi-todos .wrapper .todo {
    flex-direction: column;
    gap: 2.5rem;
  }
}

.bmi-limitation {
  position: relative;
  padding: 0 var(--mobile-space);
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.bmi-limitation-header-section {
  margin-bottom: 4rem;
}
.bmi-limitation-header-section h2 {
  margin: 32px 0;
  color: var(--clr-header);
  font-size: 32px;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -1.6px;
}
.bmi-limitation-points {
  display: flex;
  flex-direction: column;
}
.bmi-limitation-points-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.bmi-limitation-item {
  border-radius: 16px;
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
  padding: 1rem;
}
.bmi-limitation-item img {
  width: 32px;
  margin-right: 1rem;
}
.bmi-limitation-item .title {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .bmi-limitation {
    padding: 0 var(--tab-space);
  }
  .bmi-limitation-header-section {
    text-align: center;
  }
  .bmi-limitation-points-section {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .bmi-limitation-item {
    flex-basis: 45%;
    align-self: normal;
  }
}
@media (min-width: 1114px) {
  .bmi-limitation {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 3rem 0;
  }
  .bmi-limitation-header-section {
    max-width: 564px;
    text-align: left;
  }
  .bmi-limitation-points-section {
    z-index: -1;
    position: relative;
    margin-top: -220px;
  }
  .bmi-limitation-item {
    max-width: 365px;
    padding: 2rem;
  }
  .bmi-limitation-item:nth-of-type(1) {
    margin-left: 600px;
  }
  .bmi-limitation-item:nth-of-type(2) {
    margin-left: 350px;
  }
}

/*# sourceMappingURL=style.css.map */
